.services__body {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.servicesCard {
    display: flex;
    border: 1px solid #3a41436b;
    border-radius: 10px;
}

.servicesCard__item {
    width: 100%;
}

.servicesCard__item_img {
    background-size: cover;
    background-position: 50% 50%;
    min-height: 380px;
    border-radius: 10px;
    flex-basis: 80%;
}

.servicesCard__item_img1 {
    background-image: url('../img/services/1.webp');
}

.servicesCard__item_img2 {
    background-image: url('../img/services/2.webp');
}

.servicesCard__item_img3 {
    background-image: url('../img/services/3.webp');
}

.servicesCard__item_img4 {
    background-image: url('../img/services/4.webp');
}

.servicesCard__item_img5 {
    background-image: url('../img/services/5.webp');
}

.servicesCard__item_img6 {
    background-image: url('../img/services/6.webp');
}

.servicesCard__item_img_meditation1 {
    background-image: url('../img/services/meditation/1.webp');
}

.servicesCard__item_img_meditation2 {
    background-image: url('../img/services/meditation/2.webp');
}

.servicesCard__item_img_meditationPac1 {
    background-image: url('../img/services/meditation/pac1.webp');
}

.servicesCard__item_img_meditationPac2 {
    background-image: url('../img/services/meditation/pac2.webp');
}


.servicesCard__item_img_meditationFromZero1 {
    background-image: url('../img/services/fromZero/1.webp');
}

.servicesCard__item_img_meditationFromZero2 {
    background-image: url('../img/services/fromZero/2.webp');
}

.servicesCard__item_img_meditationFromZero3 {
    background-image: url('../img/services/fromZero/3.webp');
}

.servicesCard__item_img_meditationFromZero4 {
    background-image: url('../img/services/fromZero/4.webp');
}

.servicesCard__item_img_meditationFromZero5 {
    background-image: url('../img/services/fromZero/5.webp');
}

.servicesCard__item_img_consult1 {
    background-image: url('../img/services/consult/1.webp');
}

.servicesCard__item_img_consult2 {
    background-image: url('../img/services/consult/2.webp');
}

.servicesCard__item_img_consult3 {
    background-image: url('../img/services/consult/3.webp');
}


.servicesCard__item_content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-left: -20px;
    padding-left: 60px;
    border-radius: 10px;
    background-color: #3A4143;
    color: #F7F7F6;
}

.servicesCard__item_content.servicesCard__item_contentGreen {
    background-color: #414733;
}

.servicesCard__price {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: #c9cdca;
    margin-top: 30px;

    &:first-child {
        margin-top: 50px;
    }

    @media(max-width:767px) {
        margin-top: 15px;
        font-size: 18px;
    }
}

.servicesCard__h3 {
    font-family: var(--font-family);
    font-weight: 500;
    color: #f7f7f6;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 28px;

}

.servicesCard__h4 {
    margin: 20px 0;
    font-family: var(--font-family);
    font-weight: 400;
    color: #f7f7f6;

    @media(max-width:767px) {
        font-size: 16px;
    }
}

.titleFlower {
    display: flex;
    gap: 12px;
    position: relative;
}



.titleFlower::before {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url('../img/icons/flower.svg');
}

.servicesCard__btns {
    margin-top: auto;
    display: flex;
    gap: 12px;
}


.servicesCard__ul,
.servicesCard__p:not(:first-child) {
    margin-top: 16px;
}

.servicesCard__txts {
    margin-bottom: 30px;
}

.servicesCard__btns button,
.servicesCard__btns a {
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.servicesCard__ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 6px;
}

.servicesCard__li {
    position: relative;
    display: flex;
    gap: 10px;
}

.servicesCard__li::before {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #F7F7F6;
    flex-shrink: 0;
    margin-top: 9px;
}




.servicesCard__liTitleFlower {
    font-weight: 500;
    font-size: 24px;
    color: #f7f7f6;

    @media(max-width:767px) {
        font-size: 16px;
        padding-left: 0
    }

    &::before {
        width: 22px;
        height: 22px;
        flex-shrink: 0;

        @media(max-width:767px) {
            width: 16px !important;
            height: 16px !important;
            top: 0;
        }

    }

    &:not(:first-child) {
        margin-top: 20px;

        @media(max-width:767px) {
            margin-top: 10px;
        }
    }
}

@media(max-width:767px) {
    .servicesCard {
        flex-direction: column;
    }

    .servicesCard__item_content {
        margin-left: 0;
        padding: 24px 16px;
        margin-top: -20px;
        padding-top: 44px;
    }

    .servicesCard__h3 {
        font-size: 16px;
    }

    .servicesCard__li,
    .servicesCard__p {
        font-size: 16px;
    }

    .servicesCard__btns {
        flex-direction: column;
    }



    .titleFlower::before {
        width: 24px;
        height: 24px;
    }

    .servicesCard__item_img {
        min-height: 220px;
        background-position: 50% 15%;
    }
}

.titleMedPac {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &_pc {
        margin-bottom: 60px;

        @media(max-width:767px) {
            display: none;
        }
    }

    &_mob {
        display: none;

        @media(max-width:767px) {
            display: blcok;
            margin-bottom: 30px;
        }
    }
}


#lineup {
    .servicesCard {
        flex-direction: row-reverse;
        background-color: #3A4143;
        padding: 20px;
        border-radius: 10px;

        @media(max-width:824px) {
            flex-direction: column;
        }

        .servicesCard__theory {
            margin-top: 20px;
            padding-left: 60px;
            margin-left: -60px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            background-color: #20282B;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            @media(max-width:824px) {
                flex-direction: column;
                padding-left: 12px;
                margin-left: 0;
                margin-top: 20px;
                border-radius: 10px;
            }
        }

        &:nth-child(2n) {
            background-color: #414733;
            .servicesCard__theory {
                background-color: #2C3022;
            }
        }

        .servicesCard__h3 {
            max-width: 500px;
        }

        @media(max-width:767px) {
            flex-direction: column;
            padding: 0;
            padding-bottom: 16px;
            
        }
    }

    .servicesCard__liTitleFlower {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: #f7f7f6;

        &::before {
            width: 16px;
            height: 16px;
        }

        @media(max-width:767px) {
            font-size: 16px;
        }
    }
}