.about__body {
    display: flex;
    gap: 40px;
}

.about__item {
    position: relative;
    flex-basis: 33.333%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #646B5C;
    border-radius: 10px;
    color: #F7F7F6;
}

.about__icon {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('../img/icons/white_star.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top: 30px;
}

.about__h3 {
    margin-top: 60px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #3a4143;
}

.about__svg {
    width: 100%;
    display: block;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    @media(max-width:767px) {
        display: none;
    }

    &_mob {
        display: none;

        @media(max-width:767px) {
            display: block;
        }
    }
}


@media(max-width:767px) {
    .about__body {
        flex-direction: column;
        gap: 20px;
    }

    .about__item {
        font-size: 16px;
        padding-top: 50px;
    }

    .about__icon {
        top: 20px;
        width: 24px;
        height: 24px;
    }
}

.about__video {
    margin-top: 40px;

    @media(max-width:767px) {
        margin-top: 20px;
    }

    iframe {
        width: 100%;
        min-height: 510px;
        border-radius: 10px;
    }
}