.contacts__body {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts__item {
    width: 100%;
}

.contacts__item_img {
    min-height: 440px;
    max-width: 460px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../img/contactPhoto.png');
    border-radius: 10px;
}

.contactsCard {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--ramka);
    border-radius: 10px;
    background: #3a4143;
}

.contactsCard:not(:first-child) {
    margin-top: 24px;
}

.contactsCard__item {
    position: relative;
    padding-left: 32px;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    font-size: 24px;
    line-height: 120%;
    color: #f7f7f6;
    transition: all .3s;
}

.contactsCard__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 32px;
    height: 1px;
    background-color: transparent;
    transition: all .3s;
}

.contactsCard__item:hover.contactsCard__item::after {
    background-color: #fff;
}

.contactsCard__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.contactsCard__item_mail::before {
    background-image: url('../img/icons/socials/mail.svg');
}

.contactsCard__item_tg::before {
    background-image: url('../img/icons/socials/tg.svg');
}

.contactsCard__item_inst::before {
    background-image: url('../img/icons/socials/inst.svg');
}

.contactsCard__item_pi::before {
    background-image: url('../img/icons/socials/pi.svg');
}

.contactsCard__item_yt::before {
    background-image: url('../img/icons/socials/yt.svg');
}


.contactsCard__body {
    display: flex;
    gap: 30px;
}

.contactsCard__h3 {
    font-size: 28px;
    color: #F7F7F6;
    font-weight: 500;
    text-transform: uppercase;
}

@media(max-width:1023px) {
    .contactsCard {
        padding: 48px 24px;
    }

    .contactsCard__item {
        font-size: 14px;
    }
}

@media(max-width:767px) {
    .contactsCard {
        padding: 24px;
    }
    .contacts__body {
        flex-direction: column-reverse;
    }

    .contacts__item_img {
        max-width: 100%;
        min-height: 290px;
    }

    .contactsCard {
        border-radius: 10px;
    }

    .contactsCard__h3 {
        font-size: 18px;
    }
    
}